language: r
sudo: required
before_script: 
- ./before_script.sh
before_deploy:
- mkdir deploy
- mv *.tar.gz deploy
deploy:
  skip_cleanup: true
  provider: s3
  access_key_id: AKIAJCGFQEZ3CD243KHA
  bucket: kurtharriger-rmeetup
  local-dir: deploy
  upload-dir: rcmudict
  acl: public_read
  on:
    repo: kurtharriger/rcmudict
  secret_access_key:
    secure: oTKX5T18/Zk3F44voJXNktjpAMgzhv2YxtAaUJyWZtYXUb/u2hEPO4YN6aflb8RZqeE2fcRxu0h/KuQbbuN7tvsNrDi3hE9Y6/aRKThfM1KVcv7IqJoCuPSwZnCBtaHnFDCa9lmpfBeIR2cKR8bPRwzeCfC/3VNELt0SKPFG5WM=
